* {
  margin: 0;
  padding: 0;
}

html {
  background: grey;
}

.container {
  width: 1200px;
  padding: 30px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dropdown-container {
  margin: 0 20px 200px 20px;
}

.toggle-btn {
  width: 150px;
  height: 60px;
  padding: 15px 0;
  border-radius: 6px;
  border: none;
  background-color: chartreuse;
  cursor: pointer;
  outline: none;
}

.dropdown-menu-item {
  padding: 10px 30px;
  text-align: center;
  background-color: chartreuse;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 1000px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    width: 800px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: 600px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 450px;
  }
}

@media screen and (max-width: 450px) {
  .container {
    width: 300px;
    justify-content: center;
  }

  .dropdown-container {
    margin-bottom: 200px;
  }
}
