* {
  margin: 0;
  padding: 0;
}

html {
  background: grey;
}

.container {
  width: 1200px;
  padding: 30px 0 0 0;
  margin: 0 auto;
}

ul {
  list-style: none;
}

.main-list {
  position: relative;
  display: flex;
}

.main-list-item {
  padding: 15px 0;
  margin-right: 30px;
  width: 150px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  background-color: royalblue;
}

.toggle-list {
  position: absolute;
  top: 48px;
  left: 41px;
}

.main-list-item:last-child > .toggle-list {
  position: absolute;
  top: 48px;
  left: 221px;
}

.toggle-list-item {
  padding: 10px 30px;
  background-color: rosybrown;
}
.renk {
  background-color: cadetblue;
}
